<div class="d-flex justify-content-between align-items-center ">
    <div class="btn btn-primary rounded-pill " routerLink="/login">
        Logout
    </div>
    <div>
        Welcome, {{this.service.user['username']}}
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="icon user" class="img-thumbnail" width="50" height="50">
    </div>
</div>

<div class="d-flex justify-content-end align-items-middle ">
    <div class="btn btn-primary rounded-pill" routerLink="/postCreation">
        New Post
    </div>
</div>